body {
  font-family: "Poppins", sans-serif;
  margin:0;
}

p {
	font-weight: 300;
}

h2 {
	text-align: center;
}

img {
	object-fit: cover;
}

.header {
	background-color: #FFD502;
	height:50px;
	padding:10px;
}

.header ul {
	list-style-type: none;
	margin-left:-30px;
	display:inline-flex;
}
.header img {
	margin: -10px 0px 0px 0px;
	padding-right:20px;
}

.intro {
	width:100%;
	position: relative;
}

.intro .sobreimg{
	position:absolute;
	margin:30px;
	bottom:20px;
	margin-top: 80px;
}

.primerscroll {
	position: relative;
	z-index: 20;
}

.primerscroll img {
	position:fixed;
	top:100px;
	right: 50px;
}

.bloques {
	width: 80%;
	display: flex;
	margin:auto;
	margin-left:10%;
}

.bloquesdoble {
	width: 50%;
}

.bloque {
	background-color: #FFE52F;
	margin-top:20px;
	overflow: hidden;
}


.bloque div {
	margin: 20px;
	min-height: 330px;
	max-height: 700px;
	align-content: center;
}

#azul {
	background-color: #0166A8; 
	color: white;
}

#rojo {
	background-color:#FE1C1A;
	color: white;
}

#largo {
	min-height: 698px;
	max-height: 1420;
	align-content: start;
	background-color:#FFE52F ;
	padding:30px 30px 0px 30px; 
}

#largo h3 {
	text-align: center;
}


.bloquesing {
	padding:10px;
	width: 50%;
	margin: -10px 5px;
}

.proyecto1 {
	text-align: center;
	margin:auto;
	position: relative;
	color: white;
}

.proyecto1 .sobreimg {
	top:200px;
	left:30%;
	width:40%;
	position: absolute;
}

.scroll {
	position:sticky;
	top:165px;
	z-index: 19;
	background:transparent;
	float: right;
	margin-right:50px;
}

#tercerlego {
	top: 230px;
}